body {
    background-color: #2C2E3E;
}

.header {
    height: 80px;
    /* background-color: grey; */
}

.header-text {
    color: white;
    /* margin: auto 0px; */
    text-align: center;
    font-weight: lighter;
}

.floor {
    border-radius: 10px;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: #EE2B47;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
}

.floor-input {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.input {
    margin: auto;
}

.control-buttons {
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.control-btn {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.floor-button {
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    background-color: #EE2B47;
    width: 80px;
    color: white;
    padding: 10px;
}

.lift {
    height: 80px;
    width: 60px;
    background-color: white;
    float: left; 
    margin-left: 20px;
    border-radius: 10px;
    animation-duration: 3s;
}

@keyframes moveLift {
    0% {top: 0px; bottom: 0px;}
    100% {top: 0px; bottom: 20px;}
}